<script src="https://checkout.stripe.com/checkout.js"></script>
{%- include 'bold-cart' -%}
{% include 'subscription-cart-footer' %}
<div class="sixteen clearfix collection_nav">
  {% comment %}<h1 class="center shopping-title">{{ 'cart.general.title' | t }}</h1>{% endcomment %}
  <div class="feature_divider"></div>
</div>
{% if cart.item_count == 0 %}
<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
    <br class="clear" />

    {% assign collection = '' %}
    {% assign products = collections[settings.frontpage_collection].products %}
    {% assign products_per_row = settings.frontpage_products_per_row %}
    {% include 'product-loop' %}
  </div>
</div>
{% else %}

<form action="/cart" method="post" id="cart_form">
  <div class="section clearfix">
    <div class="cart_items">

      {% for item in cart.items %}
      {%- include 'bold-cart-item' with item -%}
      <div class="five columns alpha" id="{{item.variant_id}}">
        <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
          <img src="{{ item | img_url: 'medium' }}" data-src="{{ item | img_url: 'medium' }}" data-src-retina="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}" />

        </a>

        <div class="five omega">
          <p class="title-product">
            <a href="{{ item.url }}">
              {{ item.product.title }}
            </a>
          </p>

          {% unless item.variant.title contains 'Default' %}
          <p class="meta">
            {% for option in item.product.options %}
            <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span>
            {% endfor %}
          </p>
          {% endunless %}


          <p class="price_total">
            {% if bold_item_price > 0 %}
            {{ bold_item_price | money_with_currency }}
            {% else %}
            {{ settings.free_price_text }}
            {% endif %}
          </p>
          <p>{{ item.product.description | truncatewords: 25 }}
            <a href="{{ item.product.url }}" id="half_desc">
              Learn More
            </a>
          </p>
          <div class="quantity-cart" id="quantity_{{ forloop.index }}">
            <label for="updates_{{ item.id }}" class="quantity_label">{{ 'cart.general.quantity' | t }}:</label>
            {% include 'product-quantity' %}
          </div>

          <p class="remove_item">
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">{{ 'cart.general.remove' | t }}</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="section clearfix columns top-contact">
     {% comment %} <div class="column is-6 cart_items">


        {% include 'cart-contact' %}
      </div>{% endcomment %}

      <div class="is-12 column offset-by-one conditions">
        
        <div class="buy_btn">
          <input type="submit" class="button is-link" id="checkout" name="checkout" value="BUY NOW" placeholder="BUY NOW" />
        </div>
        {% if content_for_additional_checkout_buttons and settings.cart_action != 'ajax' %}
        <div class="additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
        </div>
        {% endif %}
        <div class="for-icon-cart">
          {% section 'new-cart-icons' %}
        </div>

      </div>

    </div>

    <div class="section clearfix money-back-total">
		<div class="offset-by-one subtotal-cart1 payments">

        <p class="subtotal_amount1">
          {% for item in cart.items %}
          {%- include 'bold-cart-item' with item -%}
        <div class="five columns alpha" id="{{item.variant_id}}">
          <a href="{{ item.url }}" title="{{ item.title }}" class="cart_page_image">
		 </a>
        </div>
        {% endfor %}
          <strong>Total Price:</strong>
          <strong class="cart-price">{{ bold_cart_total_price | money_with_currency }}</strong>

          {% comment %}
          <small id="estimated-shipping" style="display:none">+ <em>{{ 0 | money }} {{ 'cart.shipping_calculator.estimated_shipping' | t }}</em></small>
          {% endcomment %}

          {%  comment %} <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>{% endcomment %}
        </p>
        <p>
          <input type="submit" class="button is-link" id="checkout" name="checkout" value="BUY NOW" placeholder="BUY NOW" />
        </p>

      </div>

    <div class="offset-by-one conditions">
      {% section 'image-text-cart' %}
    </div>
    </div>
    </form>

  {% include 'cart-shipping-calculator' %}

  {% endif %}

  <script>

  /**************************************plus-cart******************************************/

    $(document).ready(function(){
      $('.plus').click(function(e){
        e.preventDefault();
        var item_id = $(this).attr('id');
        $.ajax({
          type: 'POST',
          url: '/cart/update.js',
          dataType: 'json',
          success: function(data) {
            console.log(data);
            $.ajax({
              type: 'POST',
              url: '/cart/add.js',
              data: {
                quantity: 1,
                id: item_id
              },
              dataType: 'json',
              success: function(data) {
                $.ajax({
                  type: 'POST',
                  url: '/cart.js',
                  dataType: 'json',
                  success: function(data) {
                    var total_price = data.original_total_price;
                    total_price = (total_price/100).toFixed(2);
                    $('.cart-price').text('$'+total_price+' USD');
                  }
                });
              }
            });
          }
        });
      });
      $('.minus').click(function(e){
        e.preventDefault();
        var item_id = $(this).attr('id');
        $.ajax({
          type: 'POST',
          url: '/cart.js',
          dataType: 'json',
          success: function(data) {
            $.each(data.items, function(index,value) {
              if(value.id == item_id)
              {
                var a = 'updates['+item_id+']='+(value.quantity-1);
                $.ajax({
                  type: 'POST',
                  url: '/cart/update.js',
                  data: a,
                  dataType: 'json',
                  success: function(data) {
                    $.ajax({
                      type: 'POST',
                      url: '/cart.js',
                      dataType: 'json',
                      success: function(data) {
                        var total_price = data.original_total_price;
                        total_price = (total_price/100).toFixed(2);
                        $('.cart-price').text('$'+total_price+' USD');
                        if(total_price == 0.00 ){
                          location.reload();
                        }
                      }
                    });
                  }
                });
              }
            });
          }
        });
      });
    });
  </script>
