<!--<div class="main_image_area">
  <div class="container marketing_text ui grid stackable z-more">
    <div class="column sixteen wide">
      <h1 class="uppercase">Feel Better Every Day</h1>
      <h2>with the best of broccoli</h2>
      <a href="/pages/how-it-works" class="button is-link is-inverted is-outlined">Learn More</a>
    </div>
  </div>
  <div class="footer-sprouts">
    <div class="footer-sprouts-inner">

    </div>
  </div>
</div>
-->


<!--
<div class="container collection">
{% for collection in collections %}
    {% if collection.title contains "HomePageSlider" %}


      {% if collection.products.size > 0 %}
        {% assign products = collection.products %}
        {% for product in products limit: limit %}
          <div class="">
            {{ product.title | escape  }}
          </div>
          <div class="description" itemprop="description">
            {{ product.description }}
          </div>
          <div>
            <a href="/products/{{ product.handle }}" class="button is-link">Shop Now</a>
          </div>
        {% endfor %}

      {% endif %}

    {% endif %}
{% endfor %}
</div>
-->

<div class="container">
  <section class="hero hero_image_area">
    <div class="hero-body">
      <div class="container">
        <div class="columns gray-bg">
          <div class="column is-paddingless">
            {{ 'broccoli-sprouts-hand-homepage.jpg' | asset_url | img_tag }}
          </div>
          <div class="column"  style="position: relative;">
            <h1 class="home-page-hero">Optimal Health for the New Year</h1>
            <h2 class="home-page-hero">The only supplement with Stablized Sulforphane in the capsule</h2>
            <p class="home-page-hero">With the real-world experience that only scientists and medical doctors can offer, we
                set out on a mission to create the best supplements to cultivate your wellness so you
                can thrive! What resulted is the stabilized sulforaphane called BrocElite. It’s among the
                best supplements for:
            </p>
            <ul class="home-page-hero">
              <li>Inflammation</li>
              <li>Brain Health</li>
              <li>Detoxification</li>
              <li>Anti-Aging</li>
            </ul>
            <button style="position:absolute; bottom:30px; left: 40%;" id="button1" class="button is-link">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
    </section>
</div>


<div id="scrollto1" class="container">
  <div class="columns is-multiline">

  {% for collection in collections %}
      {% if collection.title contains "HomePageSlider" %}


        {% if collection.products.size > 0 %}
          {% assign products = collection.products %}
          {% for product in products limit: limit %}

            <div class="column has-text-centered">
              <figure class="image is-square">
                {% if product.title contains "Plus - 60 caps" %}


                  <img src="{{ 'be-60-resized.png' | asset_url }}">

                {% else %}
                  <img src="{{ product.featured_image.src | img_url: 'medium' }}">
                {% endif %}
              </figure>
                <p>{{ product.title | escape  }}</p>
                <!--<p>{{ product.description }}</p>-->
                <a href="/products/{{ product.handle }}" class="button is-link">Shop Now</a>
            </div>

          {% endfor %}

        {% endif %}

      {% endif %}
  {% endfor %}

  </div>

  <div class="has-text-centered">
    <a style="color:#3273dc;" href="/collections/shop">SHOP THE FULL STORE</a>
  </div>
</div>

{% assign testimonials-bg-color-class = '' %}
{% include 'testimonials' %}


<div class="container">
  <div class="columns is-multiline">
    <div class="column is-half columns is-multiline">
      <div class="column is-full has-text-centered">
        <h3 class="no-caps">Meet Our Scientists</h3>
      </div>
      <div class="column is-mobile is-half has-text-centered">
        <figure class="image is-inline">
          <img class="image is-inline" src="{{ 'John-Gildea-homepage.jpg' | asset_img_url: '200x200' }}">
        </figure>
        <p><b>John Gildea, PhD</b></p>
      </div>
      <div class="column is-mobile is-half has-text-centered">
        <figure class="image is-inline">
          <img class="image is-inline" src="{{ 'Martin-Katz-homepage.jpg' | asset_img_url: '200x200' }}">
        </figure>
        <p><b>Martin Katz, MD</b></p>
      </div>
    </div>

    <div class="column is-half columns is-multiline">
      <div class="column is-full has-text-centered">
        <h3 class="no-caps">A Brief History...</h2>
      </div>
      <div class="column is-full">
      <span class="history">
      Sulforaphane was discovered in 1992 by researchers up at Johns Hopkins University.  Since then, there have been over 2000 peer-reviewed research papers published on the chemical.  But sulforaphane isn't stable, so all broccoli supplements have the precursor to sulforaphane called glucoraphanin (or sulforaphane glucosinolate).
      <br /><br />
      BrocElite is the only supplement on the market that has Stabilized Sulforphane in the capsule.  Dr. John Gildea stabilized it for his friend who needed it.  Since then Dr. Katz and Dr. Gildea have been telling people about this amazing chemical!
      <br /><br />
      <br /><br />
      </span>
      </div>
    </div>
  </div>
</div>
