<div class="land_1_3_6">

<nav class="navbar blue is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="nav-text has-text-centered">
    <h3 class="is-hidden-mobile">Welcome friends of Wellness Mama: Save Up To 17% Below</h3>
    <h3 class="is-visible-touch-only adjust-for-touch is-size-6">Welcome friends of Wellness Mama:<br /> Save Up To 17% Below</h3>
  </div>
</nav>



<!-- Begin Hero -->
<section class="hero-new">
  <!-- Begin Hero Content-->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2>Boost Your Immune System & Block Inflammation With</h2>
      <h1>BrocElite<sup>®</sup> Stabilized Sulforaphane</h1>
    <button id="getNow" class="button is-link is-large">Order BrocElite<sup>®</sup>&nbsp;Now</button>
    </div>
  </div>
  <!-- End Hero Content-->
</section>
<!-- End Hero -->

<div class="columns is-centered">
  <div class="column is-8 offset-top-negative">

      <div class="card block is-hover-shadow gray-bg-light">
          <div class="card-content">
          <center><h2 class="is-size-2">Introducing BrocElite<sup>®</sup></h2></center>
            <div class="columns is-desktop">
              <div class="column is-full-mobile is-full-tablet is-4 constrain-height-100 has-text-centered">
                {{ 'BrocElite_Plus_60_t.gif' | asset_url | img_tag }}
              </div>
              <div class="column">
              <p class="has-text-justified">Sulforaphane is the good molecule that comes from broccoli.  It was discovered in 1992 by scientists at Johns Hopkins University and since then there have been over 2000 research papers written on the topic in the peer-reviewed literature. </p>
              <p class="has-text-justified">Sulforaphane has 39 distinct pro-health mechanisms including blocking inflammation, enabling detoxification, promoting brain health and stimulating anti-aging.</p>
              <p class="has-text-justified">Sulforaphane is infamously unstable.  All other broccoli supplements have glucoraphanin (the chemical that comes before sulforaphane) because this prior molecule is stable.</p>
              <p class="has-text-justified"> This glucoraphanin precursor molecule is also known as “sulforaphane glucosinolate” which makes it confusing.  BrocElite<sup>®</sup> is the only supplement on the US market with stabilized sulforaphane in the capsule.</p>
              </div>
            </div>
          </div>
      </div>

  </div>
</div>



<div class="container">
    <h2 class="title has-text-centered is-size-2">6 Benefits of BrocElite<sup>®</sup></h2>
    <div class="block margin-bottom-not-mobile">
      <div class="card block is-hover-shadow">
          <div class="card-content">
          <div class="columns">
            <div class="column is-1 has-text-centered smaller-image-benefits">
              {{ 'ico_shield.gif' | asset_url | img_tag }}
            </div>
            <div class="column is-11">
            <h3 id="waypoint006" class="title is-4 green_matching_text">Promotes Immune Function</h3>
            <p>Sulforaphane (SFN) increases the activity

            of natural killer cells and enhances bacterial removal by macrophages. Peer-re-
            viewed journal articles have shown sulforaphane boosts Th1 immunity and

            restores or delays the decline of cellular immunity caused by aging.</p>
            </div>
          </div>

          </div>
      </div>
        <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column is-1 has-text-centered smaller-image-benefits">
                    {{ 'ico_fire.gif' | asset_url | img_tag }}
                  </div>
                  <div class="column is-11">
                    <h3 id="waypoint001" class="title is-4 green_matching_text">Blocks Inflammation</h3>
                    <p>Sulforaphane (SFN) blocks the chronic, unhealthy form of
                    inflammation. Medical studies show that chronic inflammation causes a range of
                    disease, including heart disease, depression, and even dementia. SFN works in

                    two ways; it both blocks the proinflammatory pathway known as NF-kB and pro-
                    motes the anti-inflammatory pathway known as Nrf-2.</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="card block is-hover-shadow">
            <div class="card-content">
              <div class="columns">
                <div class="column is-1 has-text-centered smaller-image-benefits">
                  {{ 'ico_plunger.gif' | asset_url | img_tag }}
                </div>
                <div class="column is-11">
                <h3 id="waypoint002" class="title is-4 green_matching_text">Encourages Detoxification</h3>
                <p>Sulforaphane (SFN) works in all three
                phases of detoxification. In Phase 1, the toxin is inactivated by the liver. In Phase
                2, the toxin is altered to make it water soluble so it can return into the blood
                serum. And in Phase 3, the toxin is bound and eliminated through excretion. SFN
                is the most potent known natural Phase 2 detoxifier.</p>
                </div>
              </div>

            </div>
        </div>
        <div class="card block is-hover-shadow">
            <div class="card-content">
            <div class="columns">
              <div class="column is-1 has-text-centered smaller-image-benefits">
                {{ 'ico_brain.gif' | asset_url | img_tag }}
              </div>
              <div class="column is-11">
              <h3 id="waypoint003" class="title is-4 green_matching_text">Protects + Restores Brain Function</h3>
              <p>Sulforaphane (SFN) travels to
              the brain to support the survival of existing neurons and to encourage the
              formation of new neurons. Nrf-2 is the “on switch” for protecting against
              oxidative damage and inflammation. SFN is the strongest natural stimulator of the
              Nrf-2 pathway. Low Nrf-2 functioning is linked to neurodegenerative diseases like
              Parkinson’s and Alzheimer’s.</p>
              </div>
            </div>

            </div>
        </div>
        <div class="card block is-hover-shadow">
            <div class="card-content">
            <div class="columns">
              <div class="column is-1 has-text-centered smaller-image-benefits">
                {{ 'ico_super.gif' | asset_url | img_tag }}
              </div>
              <div class="column is-11">
              <h3 id="waypoint004" class="title is-4 green_matching_text">Powerful Antioxidant</h3>
              <p>Sulforaphane (SFN) is a powerful antioxidant and
              prevents the cellular damage casued by excessive oxidation or “rusting” in the
              body. Oxidation in your body is bad and leads to cellular damage that causes
              aging. Unlike other antioxidants which last hours, SFN is long-acting, lasting
              three days. SFN is the hero we have been waiting for!</p>
              </div>
            </div>

            </div>
        </div>
        <div class="card block is-hover-shadow">
            <div class="card-content">
            <div class="columns">
              <div class="column is-1 has-text-centered smaller-image-benefits">
                {{ 'ico_virus.gif' | asset_url | img_tag }}
              </div>
              <div class="column is-11">
              <h3 id="waypoint005" class="title is-4 green_matching_text">Antiviral / Antibacterial</h3>
              <p>Sulforaphane (SFN) enhances human antiviral
              response by reducing viral load in viruses such as influenza (the Flu), HIV,
              Epstein-Barr, and the hepatitis C virus. Additionally, in one study, 23 out of 28
              tested bacterial and fungal species were killed by sulforaphane.</p>
              </div>
            </div>

            </div>
        </div>
    </div>

</div>



<div class="green-bg">
  <div class="columns is-vcentered">
    <div class="column">
      <div class="container has-text-centered">
        <h2 class="white-text is-marginless is-size-2"><i class="fas fa-leaf fa-flip-horizontal"></i>&nbsp; Over 2,000 Research Studies Have Been Conducted At the Top Institutions &nbsp;<i class="fas fa-leaf"></i></h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column">
      <div class="card-content">
        <p>Sulforaphane is being researched at prestigious hospitals and universities like Johns Hopkins as an anti-inflammatory, anti-carcinogen, anti-inflammatory, recovery booster, autophagy inducer, and might even benefit the symptoms of autism.</p>

        <p>Over 2,000 peer-reviewed studies have been done on the potential benefits of sulforaphane, and many more are underway right now. </p>

        <p>But there’s just one problem...</p>

        <p><u><b>It’s really hard to get SFN into your body.</b></u></p>

        <p>The most common way is growing and juicing broccoli sprouts because they contain the 2 precursors needed to make sulforaphane in high amounts: myrionase and glucoraphanin. </p>

        <p>But here’s the rub: the sulforaphane isn’t shelf stable and degrades really quickly… so the juice must be consumed within 4 hours of preparation (and can’t be heated above 158 degrees Fahrenheit). </p>

        <h2>But Now, A Technology Breakthrough Is Changing Everything...</h2>

        <p>For years, the BrocElite<sup>®</sup> team has been working with brilliant scientists to develop a patented process for 100% natural shelf stable sulforaphane.</p>

        <p>BrocElite<sup>®</sup> is the only supplement of its kind, and costs less than $36 a bottle. </p>

        <p>Two capsules of BrocElite<sup>®</sup> contain 10 milligrams of shelf-stable sulforaphane… that’s the equivalent of eating about 3oz of fresh juice made from broccoli sprouts harvested on the 3rd day.</p>

        <p>No more growing broccoli sprouts, no more wasting money on precursors… just all the benefits of sulforaphane in a shelf-stable capsule.</p>

        <p>And unlike with juicing or precursor supplements, with BrocElite<sup>®</sup>, you know exactly how much sulforaphane you’re getting, because it’s naturally stabilized with a patented process.</p>
      </div>
    </div>
  </div>
    <div class="columns is-slick-logos">
      <div class="column">
        {{ 'logo-duke.png' | asset_url | img_tag }}
      </div>
      <div class="column">
        {{ 'logo-harvard.png' | asset_url | img_tag }}
      </div>
      <div class="column">
        {{ 'logo-johnshop.png' | asset_url | img_tag }}
      </div>
      <div class="column">
        {{ 'logo-unc.png' | asset_url | img_tag }}
      </div>
      <div class="column">
        {{ 'logo-stanford.png' | asset_url | img_tag }}
      </div>
    </div>
  </div>


<div class=" gray-bg-light">
<div class="columns">
  <div class="column">
    <div class="container">
      <h2 class="is-size-2 has-text-centered">What Medical Professionals are Saying</h2>


          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-image has-text-centered smaller-image">
                  {{ 'david-macdonald-headshot.gif' | asset_url | img_tag }}
                </div>
                <div class="card-content">
                  <p class="block"><b>BrocElite<sup>®</sup> is Effective at Getting at the Root of the Problem</b></p>
                    <p>"BrocElite<sup>®</sup> has been as effective, if not more than other supplements I've used to address things like inflammation and a variety of conditions. In functional medicine, you're trying to address a problem by finding the root of the problem. What's exciting for me is that BrocElite<sup>®</sup> is effective at getting at the root of the problem because it balances the inflammation. Whether you need to upgrade something and downgrade something, it has the ability to do that. So I've found BrocElite<sup>®</sup> to be effective for a variety of conditions."</p>
                    <hr>
                    <h5 class="title is-7">David MacDonald, D.O.</h5>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image has-text-centered smaller-image">
                  {{ 'martin-katz-headshot.gif' | asset_url | img_tag }}
                </div>
                <div class="card-content">
                  <p class="block"><b>One Supplement that Addresses Many Different Issues</b></p>
                  <p>"So the reason that I love BrocElite<sup>®</sup>, revolves around the idea that we live in an incredibly toxic world and the sulforaphane in BrocElite<sup>®</sup> addresses so many of those toxins that cause stress within our bodies. This molecule has many, many benefits. I don't have to ask patients to take three or four different supplements. They can take one supplement that addresses many different issues. Certainly in this day and age with viruses coming at us, the research shows that it does an amazing job of decreasing the virus's ability to enter our bodies and replicate once inside. And it even provides a balanced boost to our immune system so we don't over respond and create further disease. BrocElite<sup>®</sup> is just really remarkable supplement that I'm very happy to be able to take and give to my patients."</p>
                  <hr>
                  <h5 class="title is-7">Martin Katz, M.D.</h5>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-image has-text-centered smaller-image">
                  {{ 'ken-brown-headshot.gif' | asset_url | img_tag }}
                </div>
                <div class="card-content">
                  <p class="block"><b>Incredible For People's Health</b></p>
                  <p>"My name is Ken Brown. I'm a board certified gastroenterologist in Dallas, Texas, and I asked to do a testimonial on BrocElite<sup>®</sup> with curcumin. And the reason is, is because I understand how incredible this is for people's health. In my practice. I'm seeing great results with people with a variety of gut issues, and anything with the brain-gut connection.  You can look at the science of it. I'm living it. I'm seeing it. I take it myself. I'm thrilled to actually tell everyone that I'm seeing great results with BrocElite<sup>®</sup>.  "</p>
                  <hr>
                  <h5 class="title is-7">Ken Brown, M.D.</h5>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-desktop is-centered is-vcentered">
      <div class="column constrain-height is-5-desktop has-text-centered">{{ 'BrocElite_Plus_60_3_bottle-sprout2.png' | asset_url | img_tag }}</div>
      <div class="column is-5-desktop">


        <ul class="fa">
          <li>100% pure - no fillers</li>
          <li>Certified glyphosate residue free</li>
          <li>Naturally gluten free</li>
          <li>Soy Free & dairy free</li>
          <li>Non-GMO</li>
          <li>Vegan</li>
          <li>BPA free, non-toxic</li>
        </ul>


        </div>

      </div>
    </div>

</section>



  <div class="nav-text has-text-centered">
    <h3 class="is-size-6">Welcome friends of Wellness Mama</h3>
  </div>


<div class="columns">
  <div class="column">
    <div class="container has-text-centered blue_medium">
      <h2>Choose Your Package</h2>
      <i id="buyNow" class="fas fa-shipping-fast landing-page-fa"></i> Free US Shipping Today, when you buy 3+ bottles!
    </div>
  </div>
</div>


<div class=" gray-bg-light more-pad">
  <div id="waypoint007" class="container column_1_3_6 columns row_container">

    <div class="item column is-vcentered has-text-centered white-bg">
      <div class="large">1 Bottle</div>
      <figure class="image is-center">
        <img src={{ 'brocelite_plus_1_landing.png' | asset_img_url: 'x240' }} />
      </figure>
      <div class="small">$37.95 <span>each</span></div>
      <div class="list-price">Retail: <del>$39.95</del></div>
      <div class="save">5% OFF</div>

      <hr/>
      <div class="medium">Try it for 30-Days</div>

      <hr/>
      <div class="medium">&nbsp;</div>

      <a href="https://brocelite.com/cart/add/31195757183025"><button class="button is-warning is-large is-xl-mobile has-margin-bottom-5">ADD TO CART</button></a>

      {{ 'visa-paypal-apay.png' | asset_url | img_tag }}
    </div>

    <div class="selected item column is-vcentered has-text-centered white-bg">

    <div class="best-deal">
      Most Popular
    </div>

      <div class="large">3 Bottles</div>
      <figure class="image is-center">
        <img src={{ 'brocelite_plus_3_landing.jpg' | asset_img_url: 'x240' }} />
      </figure>
      <div class="small">$33.95 <span>each</span></div>
      <div class="list-price">Retail: <del>$119.85</del></div>
      <div class="save">15% OFF</div>
      <hr/>
      <div class="medium">FREE Shipping</div>
      <hr/>
      <div class="medium">3 Month Supply</div>

      <a href="https://brocelite.com/cart/add/31195770126385"><button class="button is-warning is-large is-xl-mobile has-margin-bottom-5">ADD TO CART</button></a>

      {{ 'visa-paypal-apay.png' | asset_url | img_tag }}
    </div>

    <div class="item column is-vcentered has-text-centered white-bg">
      <div class="large">6 Bottles</div>
      <figure class="image is-center">
        <img src={{ 'brocelite_plus_6_landing.gif' | asset_img_url: 'x240' }} />
      </figure>
      <div class="small">$32.95 <span>each</span></div>
      <div class="list-price">List Price: <del>$239.70</del></div>
      <div class="save">17% OFF</div>
      <hr/>
      <div class="medium">FREE Shipping</div>
      <hr/>
      <div class="medium">6 Month Supply</div>

      <a href="https://brocelite.com/cart/add/31195770126385"><button class="button is-warning is-large is-xl-mobile has-margin-bottom-5">ADD TO CART</button></a>
      {{ 'visa-paypal-apay.png' | asset_url | img_tag }}
    </div>

  </div>
  <div class="container columns">
    <div class="column has-text-centered">
      <p><b><a class="blue_link" href="https://brocelite.com/cart/add/31706522648625">Click here</a> to order one package of broccoli seeds for 5% off!</b></p>
    </div>
  </div>
</div>

<div class="container guarantee">
  <div class="columns">
  <div class="column is-9">
    <div class="card-content">
      <p class="large_black">100% Money Back Guarantee</p>
      <p class="small_black">
        It's important to know that we back BrocElite<sup>®</sup> with a 100% SATISFACTION GUARANTEE.
        <br /><br />
        We promise that you will be thrilled with BrocElite<sup>®</sup>. If you decide that we're wrong, then
        simply send your unused supply back and we'll refund you.  It's that simple.
        <br /><br />
        We won't even ask why you're returning it.  We'll simply issue you a FULL REFUND for bottles
        you've purchased within 60 days.
      </p>
    </div>
  </div>
  <div class="column is-3 has-text-centered smaller-mbg">
    <div class="card-content">
      {{ 'EPL-60-day-guarantee2.jpg' | asset_url | img_tag }}
    </div>
  </div>
  </div>
</div>


<!--<section class="broccoli-bg-01">
<div class="container">
  <div class="columns">

    <div class="column is-full has-text-centered">
      <h2 class=" white-text is-size-2">Testimonials</h3>
    </div>
  </div>



  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-success is-hover-shadow">
            <p>"It just relieved the pain in my finger joints. When I moved my fingers, I typically had joint pain. After
            taking BrocElite<sup>®</sup> for about two days, my finger pain was gone."
            </p>
            <p class="subtitle">Missy Martin</p>
          </article>
          <article class="tile is-child notification is-success is-hover-shadow">
            <p>"I love it and have told my friends about.  I feel more alert and have more of a zip in my step.  I feel better
            in the morning when I get up and feel like I have more energy.  I just feel better all around.  Its been a
            noticeable change."</p>
            <p class="subtitle">Will Richey</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success is-hover-shadow">
          <p>"I have to tell you that if there is one single supplement that I take that makes me feel amazing it is
          BrocElite<sup>®</sup>. My husband and I started taking them and cannot believe how amazing they make us feel. <br/><br/>My
          husband attributed them to helping his feet not hurt when he&#39;s on them for 14- 16 hours a day and his
          back feels better. I feel better completely. <br/><br/>We are amazed and are big fans and will continue taking them.
          Thank you for this amazing product!"</p>
          <p class="subtitle">Vickie Gresge</p>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-success is-hover-shadow">
        <p>"I've always taken sleep for granted, but my wife, who stirs easily, does not. In our early
        marriage, I slept quietly and never disturbed her. At some point in my late 30s, however, I
        started to snore. Then a friend gave me BrocElite<sup>®</sup>. I started taking it, knowing it would reduce
        inflammation but never expecting that it would impact my snoring. Much to my surprise, it did! I
        haven't snored since. My wife was so delighted to get uninterrupted sleep again! This is the only
        testimonial I've ever written for a product."
        </p>
        <p class="subtitle">Corban A.</p>
        </article>
      </div>
    </div>

    <div class="tile is-parent is-vertical">
      <article class="tile is-child notification is-success is-hover-shadow">
        <p>"I'm a 75 year old US Marine, prostate cancer survivor with U.S. govt issues artificial knee,
        pedicle screw &amp; rod implants at L3, L4, L5. I started taking BrocElite<sup>®</sup> a year ago to reduce my
        pain. Today I’m pain free. My body – every part of it – is working better today than it did 25
        years ago! My miracle supplement!"
        </p>
        <p class="subtitle">Oliver N.</p>
      </article>
      <article class="tile is-child notification is-success is-hover-shadow">
        <p>"In 2005, I had a severely botched-up orthoscopic  gall bladder surgery where I almost bled
        to death.  Ever since then, I've had extreme diarrhea problems that dominated my life.
        Once I started taking BrocElite<sup>®</sup>, my life is now manageable and so much better.  I can't say
        enough about this product.  BrocElite<sup>®</sup> has given me my life back!"</p>
        <p class="subtitle">Barbara R.</p>
      </article>
    </div>

  </div>



</div>
</div>

-->

<div class="gray-bg">
<div class="container">
    <h2 class="title has-text-centered is-size-2">Read What Others Are Saying</h2>
    <div class="block">
        <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column">
                    <h3 class="title is-5 blue_matching_text is-not-capital">My finger pain was gone.</h3>
                    <p>"It just relieved the pain in my finger joints. When I moved my fingers, I typically had joint pain. After
                    taking BrocElite<sup>®</sup> for about two days, my finger pain was gone."
                    </p>
                    <p class="subtitle is-not-capital">Missy Martin</p>
                  </div>
                </div>
            </div>
        </div>

          <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column">
                    <h3 class="title is-5 blue_matching_text is-not-capital">I just feel better all around.</h3>
                    <p>"I love it and have told my friends about.  I feel more alert and have more of a zip in my step.  I feel better
                    in the morning when I get up and feel like I have more energy.  I just feel better all around.  Its been a
                    noticeable change."</p>
                    <p class="subtitle is-not-capital">Will Richey</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column">
                    <h3 class="title is-5 blue_matching_text is-not-capital">Thank you for this amazing product!</h3>
                    <p>"I have to tell you that if there is one single supplement that I take that makes me feel amazing it is
                    BrocElite<sup>®</sup>. My husband and I started taking them and cannot believe how amazing they make us feel. My
                    husband attributed them to helping his feet not hurt when he&#39;s on them for 14- 16 hours a day and his
                    back feels better. I feel better completely. We are amazed and are big fans and will continue taking them.
                    Thank you for this amazing product!"</p>
                    <p class="subtitle is-not-capital is-not-capital">Vickie Gresge</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column">
                  <h3 class="title is-5 blue_matching_text is-not-capital">My wife was so delighted to get uninterrupted sleep again!</h3>
                  <p>"I've always taken sleep for granted, but my wife, who stirs easily, does not. In our early
                  marriage, I slept quietly and never disturbed her. At some point in my late 30s, however, I
                  started to snore. Then a friend gave me BrocElite<sup>®</sup>. I started taking it, knowing it would reduce
                  inflammation but never expecting that it would impact my snoring. Much to my surprise, it did! I
                  haven't snored since. My wife was so delighted to get uninterrupted sleep again! This is the only
                  testimonial I've ever written for a product."
                  </p>
                  <p class="subtitle is-not-capital">Corban Addison</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column">
                  <h3 class="title is-5 blue_matching_text is-not-capital">My miracle supplement!</h3>
                  <p>"I'm a 75 year old US Marine, prostate cancer survivor with U.S. govt issues artificial knee,
                  pedicle screw &amp; rod implants at L3, L4, L5. I started taking BrocElite<sup>®</sup> a year ago to reduce my
                  pain. Today I’m pain free. My body – every part of it – is working better today than it did 25
                  years ago! My miracle supplement!"
                  </p>
                  <p class="subtitle is-not-capital">Oliver N.</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="card block is-hover-shadow">
            <div class="card-content">
                <div class="columns">
                  <div class="column">
                  <h3 class="title is-5 blue_matching_text is-not-capital">BrocElite<sup>®</sup> has given me my life back!</h3>
                  <p>"In 2005, I had a severely botched-up orthoscopic  gall bladder surgery where I almost bled
                  to death.  Ever since then, I've had extreme diarrhea problems that dominated my life.
                  Once I started taking BrocElite<sup>®</sup>, my life is now manageable and so much better.  I can't say
                  enough about this product.  BrocElite<sup>®</sup> has given me my life back!"</p>
                  <p class="subtitle is-not-capital">Barbara R.</p>
                  </div>
                </div>
            </div>
          </div>

        </div>
    </div>

</div>



<div class="columns">
  <div class="column">
    <div class="container faq" id="waypoint008">
      <div class="card-content">
        <h2 class="title has-text-centered is-size-2">Frequently Asked Questions</h2>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;What is sulforaphane?</h3>
          <p>
          Sulforaphane is a chemical in broccoli discovered in 1992 by researchers at John’s Hopkins
          University. Since then, sulforaphane has been the subject of over 2000 peer-reviewed research
          papers on the chemical. There are 39 distinct pro-health benefits including blocking inflammation, enabling
          detoxification and promoting brain health.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;What makes BrocElite<sup>®</sup> different from other broccoli extract supplements?</h3>
          <p>BrocElite<sup>®</sup> is the only broccoli supplement on the market offering Stabilized Sulforaphane in the capsule (as opposed to the precursor, glucoraphanin otherwise known as sulforaphane glucosinolate).
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;Why is your powder yellow?</h3>
          <p>While broccoli is green, we extract the sulforaphane from broccoli seed, which produces the
yellow color that we call the “gold in broccoli”.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;Is BrocEite made in the USA?</h3>
          <p>BrocElite<sup>®</sup> is manufactured in Charlottesville VA. We source our broccoli seed from
California, Tennessee, and Michigan. We cannot say “made in the USA” since our capsules
come from Canada and Colombia.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;Do you have to take BrocElite<sup>®</sup> with food?</h3>
          <p>Yes, we recommend taking it with food. In research about 10% - 20% of people who take sulforaphane experience mild stomach discomfort for a short period of time.
          Taking BrocElite<sup>®</sup> with food lessens the chance of experiencing this discomfort.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;Does BrocElite<sup>®</sup> need to be refrigerated?</h3>
          <p>No, if you plan on using your bottle within one to two months. We do recommend refrigeration if
you don’t plan on taking the product regularly.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;How long does it take to notice an effect?</h3>
          <p>Everyone is different. From people who use BrocElite<sup>®</sup>, we have heard from customers who have noticed effects from taking BrocElite<sup>®</sup> anywhere
from 2 days to 2 weeks from the time of their first capsule. The most common effect people
notice is a reduction in joint pain as a result of Nrf-2 pathway activation. The second most
common effect is vivid dreaming at night as a result of brain-derived neurotrophic factor
stimulation.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;How long does one bottle last?</h3>
          <p>We recommend taking one to two capsules per day. You will
get a health impacting amount of sulforaphane with just one capsule. Feedback from our customers
leads us to believe that once you take a single capsule a day, your experience with BrocElite<sup>®</sup> will soon
lead you to take two capsules per day as you become aware of its benefits and how it is making you feel.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;When will I receive my shipment?</h3>
          <p>Most orders will ship within one business day.  Most orders take 2-3 days on average to arrive once shipped.
          </p>

          <h3 class="title is-5 green_matching_text is-not-capital"><i class="fas fa-leaf"></i>&nbsp;What ingredients are used in BrocElite<sup>®</sup>?</h3>
          <p>
            {{ 'supplement_facts.png' | asset_url | img_tag }}
          </p>


        </div>
    </div>
  </div>
</div>


</div>



<script>
      $(document).ready(function(){



      var waypoint = new Waypoint({
        element: document.getElementById('waypoint001'),
        handler: function(direction) {
          $("#waypoint001").addClass("animated slideInRight");
        },
        offset: 'bottom-in-view'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint002'),
        handler: function(direction) {
          $("#waypoint002").addClass("animated slideInRight");
        },
        offset: 'bottom-in-view'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint003'),
        handler: function(direction) {
          $("#waypoint003").addClass("animated slideInRight");
        },
        offset: 'bottom-in-view'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint004'),
        handler: function(direction) {
          $("#waypoint004").addClass("animated slideInRight");
        },
        offset: 'bottom-in-view'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint005'),
        handler: function(direction) {
          $("#waypoint005").addClass("animated slideInRight");
        },
        offset: 'bottom-in-view'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint006'),
        handler: function(direction) {
          $("#waypoint006").addClass("animated slideInRight");
        },
        offset: 'bottom-in-view'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint007'),
        handler: function(direction) {
          $("#waypoint007").addClass("animated fadeInUpBig");
        },
        offset: '95%'
      });

      var waypoint = new Waypoint({
        element: document.getElementById('waypoint008'),
        handler: function(direction) {
          $("#waypoint008").addClass("animated slideInUp");
        },
        offset: '95%'
      });


      $('.is-slick-logos').slick({
        autoplay: true,
        autoplaySpeed: 6000,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        adaptiveHeight: true,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 500,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
              centerPadding: '60px'
            }
          },
          {
            breakpoint: 400,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              centerMode: true,
              centerPadding: '80px'
            }
          }
        ]
      });

        $("#getNow").on('click', function (event) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: $("#buyNow").offset().top
          }, 1000);
        })

      });
</script>
