

<div  style="background: rgba(49, 115, 220, 0.08); width: 100%;">
<div class="columns">
  <div class="column with-bg">
    <div class="container">
      <h1>BrocElite™ Reservation Page</h1>
      <h2>Congratulations! You’re just one step away from getting your own supply of BrocElite™ rushed to you.</h2>
    </div>
  </div>
</div>


<div class="container guarantee">
  <div class="columns">
    <div class="column is-half has-text-centered-mobile">
      <span class="blue_medium">This scientifically-verified formula helps promote:</span>
        <ul>
          <li>A sharper, younger brain</li>
          <li>Detoxification of every cell in your body</li>
          <li>Natural relief of pain caused by inflammation </li>
          <li>A boost in your energy</li>
          <li>Anti-Aging</li>
        </ul>

        <button id="getNow" class="button is-warning is-medium">GET IT NOW</button>

    </div>

    <div class="column is-half has-text-centered-mobile">
      <p class="large_black">100% Money Back Guarantee</p>
      <p class="small_black">
        It's important to know that we back BrocElite with a 100% SATISFACTION GUARANTEE.
        {{ 'money-back-guarantee.png' | asset_url | img_tag }}
        <br /><br />
        We promise that you will be thrilled with BrocElite. If you decide that we're wrong, then
        simply send your unused supply back and we'll refund you.  It's that simple.
        <br /><br />
        We won't even ask why you're returning it.  We'll simply issue you a FULL REFUND for bottles
        you've purchased within 90 days.
      </p>

    </div>
  </div>
</div>

</div>

<div class="container">
  <div class="columns is-multiline">
    <div class="column is-half columns is-multiline">
      <div class="column is-full has-text-centered">
        <h3 class="no-caps">Meet Our Scientists</h3>
      </div>
      <div class="column is-mobile is-half has-text-centered">
        <figure class="image is-inline">
          <img class="image is-inline" src="{{ 'John-Gildea-homepage.jpg' | asset_img_url: '200x200' }}">
        </figure>
        <p><b>John Gildea, PhD</b></p>
      </div>
      <div class="column is-mobile is-half has-text-centered">
        <figure class="image is-inline">
          <img class="image is-inline" src="{{ 'Martin-Katz-homepage.jpg' | asset_img_url: '200x200' }}">
        </figure>
        <p><b>Martin Katz, MD</b></p>
      </div>
    </div>

    <div class="column is-half columns is-multiline">
      <div class="column is-full has-text-centered">
        <h3 class="no-caps">A Brief History...</h2>
      </div>
      <div class="column is-full">
      <span class="history">
      Sulforaphane was discovered in 1992 by researchers up at Johns Hopkins University.  Since then, there have been over 2000 peer-reviewed research papers published on the chemical.  But sulforaphane isn't stable, so all broccoli supplements have the precursor to sulforaphane called glucoraphanin (or sulforaphane glucosinolate).
      <br /><br />
      BrocElite is the only supplement on the market that has Stabilized Sulforphane in the capsule.  Dr. John Gildea stabilized it for his friend who needed it.  Since then Dr. Katz and Dr. Gildea have been telling people about this amazing chemical!
      <br /><br />
      <br /><br />
      </span>
      </div>
    </div>
  </div>


<div class="columns">
  <div class="column">
    <div class="container has-text-centered">
      <i id="buyNow" class="fas fa-shipping-fast landing-page-fa"></i> <span class="blue_medium">Free US Shipping Today, when you buy 3+ bottles!</span>
    </div>
  </div>
</div>

<div class="container column_1_3_6 columns row_container">


  <div class="item column is-vcentered has-text-centered">
    <div class="large">1 Bottle</div>
    <figure class="image is-center">
      <img src={{ 'brocelite_plus_1_landing.png' | asset_img_url: 'x240' }} />
    </figure>
    <div class="small">$35.95 each</div>
    <div class="list-price">Retail: <del>$39.95</del></div>
    <div class="today">Today's Price: $35.95</div>
    <div class="save">Savings: $4.00</div>
    <div class="save">10% OFF</div>

    <div class="medium">Try it for 30-Days</div>

    <a href="https://brocelite.com/cart/add/31195757183025"><button class="button is-warning is-large">ADD TO ORDER</button></a>
  </div>

  <div class="selected item column is-vcentered has-text-centered">

  <div class="best-deal">
    Most Popular
  </div>

    <div class="large">3 Bottles</div>
    <figure class="image is-center">
      <img src={{ 'brocelite_plus_3_landing.jpg' | asset_img_url: 'x240' }} />
    </figure>
    <div class="small">$33 each</div>
    <div class="list-price">Retail: <del>119.85</del></div>
    <div class="today">Today's Price: $99</div>
    <div class="save">Savings: $20.37</div>
    <div class="save">17% OFF</div>

    <div class="medium">3 Month Supply</div>

    <a href="https://brocelite.com/cart/add/31195770126385"><button class="button is-warning is-large">ADD TO ORDER</button></a>
  </div>

  <div class="item column is-vcentered has-text-centered">
    <div class="large">6 Bottles</div>
    <figure class="image is-center">
      <img src={{ 'brocelite_plus_6_landing.png' | asset_img_url: 'x240' }} />
    </figure>
    <div class="small">$31.50 each</div>
    <div class="list-price">List Price: <del>$239.70</del></div>
    <div class="today">Today's Price: $189</div>
    <div class="save">Savings: $50</div>
    <div class="save">20% OFF</div>

    <div class="medium">6 Month Supply</div>

    <a href="https://brocelite.com/cart/add/31195772256305"><button class="button is-warning is-large">ADD TO ORDER</button></a>
  </div>


</div>

<div class="columns">
  <div class="column">
    <div class="has-text-centered">
      {{ 'visa-paypal-apay.png' | asset_url | img_tag }}
      <p>We kindly accept Visa, Mastercard, Discover, American Express, PayPal and Amazon Pay</p>
    </div>
  </div>
</div>



{% assign testimonials-bg-color-class = '' %}
{% include 'testimonials' %}



<script>
      $(document).ready(function(){

        $("#getNow").on('click', function (event) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: $("#buyNow").offset().top
          }, 1000);
        })


/*
        const $iframe = $("#uc_checkout");
        console.log('ready!!!');

        $("#addtocart1").on('click', function (event) {
          console.log('clicked');
          event.preventDefault();
          $iframe.css({
            height: '1400px'
          });
          $iframe.attr("src", "https://brocelite.ultracartstore.com/cgi-bin/UCEditor?merchantId=BRELT&ADD=BE-30-6-Bottle");
          $('html, body').animate({
            scrollTop: $iframe.offset().top
          }, 1000);
        })

        $("#addtocart2").on('click', function (event) {
          console.log('clicked');
          event.preventDefault();
          $iframe.css({
            height: '1400px'
          });
          $iframe.attr("src", "https://brocelite.ultracartstore.com/cgi-bin/UCEditor?merchantId=BRELT&ADD=BE-30-3-Bottle");
          $('html, body').animate({
            scrollTop: $iframe.offset().top
          }, 1000);
        })

        $("#addtocart3").on('click', function (event) {
          console.log('clicked');
          event.preventDefault();
          $iframe.css({
            height: '1400px'
          });
          $iframe.attr("src", "https://brocelite.ultracartstore.com/cgi-bin/UCEditor?merchantId=BRELT&ADD=BE-30-1-Bottle");
          $('html, body').animate({
            scrollTop: $iframe.offset().top
          }, 1000);
        })

*/
      });
</script>
